In [1]:
print('Hello World')

Hello World

#dictionary -- hashmap enclosed by {}
#set -- hashset enclosed by {}
#list -- array , arraylist
#tuple -- imutable arrays / list enclosed with parenthesis

In [3]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

List Comprehension

In [4]:
x=[1,2,3,4]
[num**2 for num in x]

[1, 4, 9, 16]

In [7]:
def times2(var):
    return var*2

In [8]:
list(map(times2,x))

[2, 4, 6, 8]

In [9]:
list(map(lambda num: num*2,x))

[2, 4, 6, 8]

In [10]:
list(filter(lambda num: num%2==0,x))

[2, 4]

In [11]:
!git init

Initialized empty Git repository in C:/Users/Varad/DataScience/.git/

In [17]:
!git add .
!git commit -m "basics"

warning: in the working copy of '.ipynb_checkpoints/Pybasics-checkpoint.ipynb', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'Pybasics.ipynb', LF will be replaced by CRLF the next time Git touches it

[main de72a16] basics
 2 files changed, 34 insertions(+), 4 deletions(-)
 rename .ipynb_checkpoints/{Untitled-checkpoint.ipynb => Pybasics-checkpoint.ipynb} (100%)
 rename Untitled.ipynb => Pybasics.ipynb (83%)

In [18]:
!git push -u origin main

branch 'main' set up to track 'origin/main'.

To https://github.com/VaradJadhav37/DataScience.git
   d20572f..de72a16  main -> main

In [6]:
import numpy as np
from numpy.random import randn
import pandas as pd

In [17]:
df=pd.DataFrame(randn(5,4),index=['A','B','C','D','E'])

In [18]:
df[df[2]>1]

         0         1         2       3
E -0.78839 -0.358428  1.721602  0.7445

In [19]:
df.reset_index()

  index         0         1         2         3
0     A -0.663832 -0.109637 -0.548545  1.101527
1     B  1.296924 -0.579175  0.952435 -0.056906
2     C  0.564014  0.940062 -2.264104  0.542115
3     D  0.434520  0.303846 -0.520202  0.032313
4     E -0.788390 -0.358428  1.721602  0.744500

In [21]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]

# Create a MultiIndex
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

# Create DataFrame
df = pd.DataFrame(np.random.randn(6, 4), index=hier_index, columns=['A', 'B', 'C', 'D'])

# Set names for index levels
df

             A         B         C         D
G1 1  0.374647  0.511150  0.463815 -0.636036
   2  1.226019  0.943394  0.558185 -1.897424
   3 -0.074996 -0.783135 -0.959960 -0.770605
G2 1 -0.031566 -0.398333 -1.211213 -1.260981
   2  1.623979 -1.860519 -0.800435 -1.118793
   3 -0.080659  0.668731 -1.553909 -1.610396

In [24]:
df.loc['G1'].loc[1]

A    0.374647
B    0.511150
C    0.463815
D   -0.636036
Name: 1, dtype: float64

In [26]:

# Step 1: Create a DataFrame with NaN values
data = {
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, np.nan, 8],
    'C': [9, 10, 11, 12]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# Step 2: Drop rows with any NaN values
df_drop_rows = df.dropna()
print("\nDataFrame after dropping rows with any NaN values:")
print(df_drop_rows)

# Step 3: Drop columns with any NaN values
df_drop_cols = df.dropna(axis=1)
print("\nDataFrame after dropping columns with any NaN values:")
print(df_drop_cols)

# Step 4: Fill NaN values with a constant (e.g., 0)
df_fill_zero = df.fillna("Fill_Val")
print("\nDataFrame after filling NaNs with 0:")
print(df_fill_zero)

# Step 5: Fill NaN values with the column mean
df_fill_mean = df.fillna(df.mean(numeric_only=True))
print("\nDataFrame after filling NaNs with column means:")
print(df_fill_mean)

Original DataFrame:
     A    B   C
0  1.0  5.0   9
1  2.0  NaN  10
2  NaN  NaN  11
3  4.0  8.0  12

DataFrame after dropping rows with any NaN values:
     A    B   C
0  1.0  5.0   9
3  4.0  8.0  12

DataFrame after dropping columns with any NaN values:
    C
0   9
1  10
2  11
3  12

DataFrame after filling NaNs with 0:
          A         B   C
0       1.0       5.0   9
1       2.0  Fill_Val  10
2  Fill_Val  Fill_Val  11
3       4.0       8.0  12

DataFrame after filling NaNs with column means:
          A    B   C
0  1.000000  5.0   9
1  2.000000  6.5  10
2  2.333333  6.5  11
3  4.000000  8.0  12

In [30]:
# Step 1: Create a DataFrame
data = {
    'Department': ['Sales', 'Sales', 'HR', 'HR', 'IT', 'IT'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
    'Salary': [50000, 55000, 60000, 58000, 70000, 72000],
    'Bonus': [5000, 6000, 4000, 4200, 8000, 8500]
}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

# Step 2: Group by Department and calculate average Salary and Bonus
grouped = df.groupby('Department')[['Salary', 'Bonus']].mean()

print("\nAverage Salary and Bonus by Department:")
print(grouped)

Original DataFrame:
  Department Employee  Salary  Bonus
0      Sales    Alice   50000   5000
1      Sales      Bob   55000   6000
2         HR  Charlie   60000   4000
3         HR    David   58000   4200
4         IT      Eva   70000   8000
5         IT    Frank   72000   8500

Average Salary and Bonus by Department:
             Salary   Bonus
Department
HR          59000.0  4100.0
IT          71000.0  8250.0
Sales       52500.0  5500.0

In [32]:
df.groupby('Department').describe()

           Salary                                                            \
            count     mean          std      min      25%      50%      75%
Department
HR            2.0  59000.0  1414.213562  58000.0  58500.0  59000.0  59500.0
IT            2.0  71000.0  1414.213562  70000.0  70500.0  71000.0  71500.0
Sales         2.0  52500.0  3535.533906  50000.0  51250.0  52500.0  53750.0

                    Bonus                                                      \
                max count    mean         std     min     25%     50%     75%
Department
HR          60000.0   2.0  4100.0  141.421356  4000.0  4050.0  4100.0  4150.0
IT          72000.0   2.0  8250.0  353.553391  8000.0  8125.0  8250.0  8375.0
Sales       55000.0   2.0  5500.0  707.106781  5000.0  5250.0  5500.0  5750.0


               max
Department
HR          4200.0
IT          8500.0
Sales       6000.0